
body {
    margin: 5rem;
    font-family: 'Arial', sans-serif;
}

/* Form labels and inputs */
label {
    display: block;
    margin-bottom: 15px;
    font-weight: 600;
    color: #555;
    text-align: center;
}

input[type="email"], input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

input[type="email"]:focus, input[type="text"]:focus, input[type="password"]:focus {
    border-color: #42a5f5;
    outline: none;
}

/* Left Section - HobbyHub Name and Slogan */
.fixed-left {
    /* position: fixed; */
    top: 8rem;
    left:12rem;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 100px;
    background-color: transparent;
}

.hobbyhub-name {
    font-size: 4rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
}

.slogan {
    font-size: 1.2rem;
    color: #333;
    font-weight: 400;
}

/* Right Section - Login Form */
.bg-light {
    background-color: #f8f9fa;
}

/* Login Form Styles */
.login-form {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

/* Social Login Buttons */
.btn-block {
    width: 100%;
    font-size: 1rem;
}

.btn-pinterest {
    color: white;
    background-color: grey;
    border-color:black;
}

.btn-pinterest:hover {
    background-color: darkgray;
}

.btn-danger {
    background-color:grey;
    border-color: black;
}

.btn-danger:hover {
    background-color: darkgray;
}

.btn-facebook {
    color: white;
    background-color:grey;
    border-color: black;
}

.btn-facebook:hover {
    background-color: darkgray;
}
